<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
  </head>
  <body>
    <script src="./processing.min.js"></script>
    <script type="text/processing" data-processing-target="mycanvas">
{{pde}}
    </script>
    <canvas id="mycanvas"></canvas>
  </body>
<html>
